@using Microsoft.AspNetCore.Http
@using System.Net.Mail
@inject IHttpContextAccessor Accessor

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewData["Title"] - Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Favicons -->
    <link href="~/img/new-logo-fav-removebg-preview.png" rel="icon">
  
    <link href="~/architectui/main.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .aktif{
            color:#3f6ad8;background:#e0f3ff;font-weight:bold
        }
    </style>

    @RenderSection("CSSnya", required: false)
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn ">
                                            <button class="mb-2 mr-2 btn btn-link"><i class="fas fa-bell"></i><span class="badge badge-pill badge-primary " id="countNotif"></span></button>

                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right" id="listNotif">

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">

                                <div class="widget-content-left  ml-3 header-user-info">
                                    <input type="hidden" id="login-employee-id" value="@Context.Session.GetString("employee_id")" />
                                    <div class="widget-heading" id="namaLogin">
                                        @Context.Session.GetString("name")
                                    </div>
                                    <div class="widget-subheading">
                                        @Context.Session.GetString("role_name")
                                    </div>
                                </div>
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            @*<img width="42" class="rounded-circle" src="architectui/assets/images/avatars/1.jpg" alt="">*@
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">

                                            <a href="/Logout" class="btn dropdown-item"><i class="fas fa-sign-out-alt"></i> &nbsp;Logout</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-main">
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">Home</li>
                            @if (User.IsInRole("Employee") || User.IsInRole("Manager"))
                            {
                            <li>
                                <a href="/Employee" class="">
                                    <i class="metismenu-icon pe-7s-rocket"></i>
                                    Dashboard
                                </a>
                            </li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                            <li>
                                <a href="/Admin" class="">
                                    <i class="metismenu-icon pe-7s-rocket"></i>
                                    Dashboard
                                </a>
                            </li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                            <li class="app-sidebar__heading">Master Data</li>
                            <li>
                                <a asp-controller="Admin" asp-action="Employees">
                                    <i class="metismenu-icon pe-7s-users"></i>
                                    Employeese
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="Divisions">
                                    <i class="metismenu-icon pe-7s-network"></i>
                                    Divisions
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="LeaveCategories">
                                    <i class="metismenu-icon pe-7s-photo-gallery"></i>
                                    Leave Categories
                                </a>
                            </li>
                            }
                            @if (User.IsInRole("Employee") || User.IsInRole("Manager"))
                            {
                            <li class="app-sidebar__heading">Leave</li>
                            <li>
                                <a asp-controller="Employee" asp-action="LeaveRequest">
                                    <i class="metismenu-icon pe-7s-back-2"></i>
                                    Request Leave
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Employee" asp-action="LeaveHistory">
                                    <i class="metismenu-icon pe-7s-note2"></i>
                                    Leave Histories
                                </a>
                            </li>
                            }
                            @if (User.IsInRole("Manager"))
                            {
                            <li>
                                <a asp-controller="Employee" asp-action="LeaveRequestConfirmation">
                                    <i class="metismenu-icon pe-7s-mail-open-file"></i>
                                    Leave Request Confirmation
                                </a>
                            </li>
                            }
                            @*<li class="pt-5">
                                <a class="btn-open-options bg-warning">
                                    <i class="metismenu-icon fa fa-cog fa-w-16 fa-spin fa-2x"></i>
                                    Theme Setting
                                </a>
                            </li>
                        </ul>*@
                    </div>
                </div>
            </div>
            <div class="app-main__outer">
                <div class="app-main__inner">

                    <div class="row">
                        <div class="col-12">
                            @RenderBody()
                        </div>
                    </div>


                    <br /><br />
                    <div class="app-wrapper-footer">
                        <div class="app-footer">
                            <div class="app-footer__inner">
                                <div class="app-footer-left">
                                    <ul class="nav">
                                        <li class="nav-item">
                                            <div class="copyright">
                                                &copy; Copyright 2022 <strong><span>e-Cuti</span></strong>. All Rights Reserved
                                            </div>
                                        </li>
                                        <li class="nav-item">

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script type="text/javascript" src="~/architectui/assets/scripts/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
        <script src="//cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="//cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
        <script src="//cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.1/howler.min.js"></script>


        @RenderSection("Modal", required: false)
        @RenderSection("JSnya", required: false)

    <script>
        $(function($) {
          let url = window.location.href;
          $('li a').each(function() {
            if (this.href === url) {
              $(this).closest('li').addClass('aktif');
            }
          });
        });
    </script>

        <script>

            let idEmpMain = "@Context.Session.GetString("employee_id")"
           
            var sound = new Howl({
                src: ['../Notif.wav'],
                volume: 1.0,
                onend: function () {

                }
            });
            $(document).ready(() => {
                
                

                setInterval(
                    () => { getNotif() },
                2000)
            })

            

            function getNotif() {
                $.ajax({
                    url: `https://localhost:44302/api/leavingrequest/emp/${idEmpMain}/notif`
                }).done(e => {
                    $("#countNotif").html(e.length)
                    let lastNotifLength = localStorage.getItem("notifLenght")

                    if (!lastNotifLength) localStorage.setItem("notifLenght", e.length)
                    else {
                        if (e.length > lastNotifLength) {
                            //console.log("ada data baru masuk")
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'New NotifiCation',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            sound.play()
                        }
                        //else console.log("tidak ada data baru")
                        localStorage.setItem("notifLenght", e.length)

                    }

                    let stringRetrun = ""

                    e.forEach(elem => stringRetrun += `<button type="button" tabindex="0" class="dropdown-item" onclick="ReadNotif('${elem.request_id}')">${elem.leavingMessage}</button>`)
                    $("#listNotif").html(stringRetrun)
                //    console.log(e)
                })
            }

            function ReadNotif(request_id) {
                $.ajax({
                    url: `https://localhost:44302/api/leavingrequest/emp/${request_id}/isRead`
                }).done(e => {
                    if (e.errorType == 200) {
                        window.location.replace("../LeaveHistory")
                        sessionStorage.setItem("request_id", e.request_id)
                    }
                })
            }

        </script>
</body>
</html>
